<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cards.css">
    <link rel="stylesheet" href="font/fontawesome-free-6.2.1-web/fontawesome-free-6.2.1-web/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="side_bar">
            <a href="/c" class="img-logo"><i class="fa-brands fa-stack-overflow"></i></a>
            <a href="/" class="img-logo home"><i class="fa-solid fa-house"></i></a>
            <a href="https://www.facebook.com/Computer.Engineering.Embedded.Club" class="img-logo"><i class="fa-solid fa-chart-simple"></i></a>
            <a href="/IDcards" class="img-logo"><i class="fa-solid fa-id-card"></i></a>
        </div>
        <div class="table">
            <table id="cards">
                <thead>
                    <!-- <th>Num</th> -->
                    <th>UID</th>
                    <th>Button</th>
                </thead>
                <tbody id="body">
                </tbody>
            </table>
        </div>
    </div>
    <script type="module" src="js/cards.js"></script>
</body>
</html>